# Loops and Conditionals
---

## Loops


- for
- while

**looping through list**

*lets create a list*

In [1]:
lst = [1, 3, 4]

In [3]:
for item in lst:
    print(item)
    print('='*3)

1
===
3
===
4
===

**Note: blocks**

In [9]:
print('Length of the list: ', len(lst))
for item in lst:
    print(item)
    print('='*3)
print('Finished......')

Length of the list:  3
1
===
3
===
4
===
Finished......

*for each `item` in list `lst` print that `item`*

In [10]:
# variable inside for loop holds value after loop has been completed
item

4

*looping through tuple*

In [11]:
for item in (1, 3, 4):
    print(item)

1
3
4

*looping through dictionary - by keys*

In [12]:
dct = {
    'name': 'Harry', 
    'age': 42, 
    'profession': 'Foreman', 
    'address': ('12th Street', 'CA')
}

In [13]:
for item in dct:
    print(item)

name
age
profession
address

*here items printed are keys of dictionary*

*If we loop through a dictionary we get keys*

In [14]:
# get all the keys
dct.keys()

dict_keys(['name', 'age', 'profession', 'address'])

In [15]:
# looping through list of keys of the dictionary
for item in dct.keys():
    print(item)

name
age
profession
address

In [18]:
# now obtain value from keys of a dictionary
for key in dct:
    print(dct[key])
    print('='*3)

Harry
===
42
===
Foreman
===
('12th Street', 'CA')
===

In [17]:
dct['name']

'Harry'

*looping by value*

In [19]:
# get list of values of the dictionary
dct.values()

dict_values(['Harry', 42, 'Foreman', ('12th Street', 'CA')])

In [20]:
# get all the values of dictionary from list of values
for item in dct.values():
    print(item)

Harry
42
Foreman
('12th Street', 'CA')

In [21]:
# we can access dictionary values using dictionary[key] see: session3a
# for format string see: session 2
for item in dct:
    print("'{}' has value '{}'".format(item, dct[item]))

'name' has value 'Harry'
'age' has value '42'
'profession' has value 'Foreman'
'address' has value '('12th Street', 'CA')'

### tuple unpacking, variable assignment

In [22]:
# create variables a1 and b1 and assign values to them
a1 = 5
b1 = 8
print(a1, b1)

5 8

In [23]:
# variable assignment can be done in single line as
a1, b1 = 9, 6
print(a1, b1)

9 6

*In above `a1` is assigned `9` and `b1` is assigned `6`*

In [24]:
a, b = (0, 1)

In [25]:
a

0

In [26]:
b

1

*a1, b1 = (0, 1) is same as a1, b1 = 0, 1*

since (0, 1) is a tuple and it is unpacked ( taken out of tuple ), this process is called unpacking

In [27]:
# both sides should be equal
a, b, c = 0, 9

ValueError: not enough values to unpack (expected 3, got 2)

In [28]:
# both sides should be equal
a, b, c = 9, 8, 7, 8

ValueError: too many values to unpack (expected 3)

In [29]:
(a, b, c) = (88, 99, 77)

In [30]:
print(a, b, c)

88 99 77

In [34]:
tup = (8, 9, 7)

In [35]:
e, n, s = tup

In [37]:
print(e, ',', n, ',', s)

8 , 9 , 7

In [31]:
# get items of a dictionary
dct.items()

dict_items([('name', 'Harry'), ('age', 42), ('profession', 'Foreman'), ('address', ('12th Street', 'CA'))])

In [32]:
for item in dct.items():
    print(item)

('name', 'Harry')
('age', 42)
('profession', 'Foreman')
('address', ('12th Street', 'CA'))

In [33]:
for item in dct.items():
    key, value = item # ('profession', 'Foreman')
    print("Key {} with value {}".format(key, value))

Key name with value Harry
Key age with value 42
Key profession with value Foreman
Key address with value ('12th Street', 'CA')

In [38]:
for key, value in dct.items():
    print("key {} has value {}".format(key, value))

key name has value Harry
key age has value 42
key profession has value Foreman
key address has value ('12th Street', 'CA')

### Ranges

*create a range object starting from 0 and up to 9, (remember 9 is excluded)*

In [39]:
range(0, 9)

range(0, 9)

In [40]:
# range from 0 to 9 (excluding 9)
list(range(0, 9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
for i in range(0, 9):
    print(i)

0
1
2
3
4
5
6
7
8

In [42]:
# 0 to 9 (excluding) with step 2
for i in range(0, 9, 2):
    print(i)

0
2
4
6
8

In [43]:
list(range(1, 9, 2))

[1, 3, 5, 7]

#### while loop

In [46]:
a

89

In [47]:
a = a + 1

In [48]:
a

90

**There is no ++/-- operator in python**

In [49]:
# it is shorthand for a = a + 1
a += 1

*shorthands*

```python

a = a - 1
# same as
a -= 1

b = b * 3
# same as
b *= 3

c = c / 4
# same as
c /= 4
```

In [50]:
a = 0
while a < 3:
    print(a)
    a += 1

0
1
2

## Conditionals

*empty list, tuple, dictionary are false*

In [51]:
[] == True

False

In [52]:
bool([])

False

*same is true for empty string and 0*

In [53]:
'' == True

False

In [54]:
bool('')

False

*'' is empty string but not ' ', which has space in it*

In [55]:
bool(' ')

True

In [56]:
0 == True

False

In [57]:
bool(0)

False

*check if a is present in string *

In [58]:
'a' in 'abc'

True

*check if number is present in list*

In [59]:
5 in list(range(0, 5))

False

In [60]:
5 in list(range(0, 6))

True

In [61]:
list(range(0, 6))

[0, 1, 2, 3, 4, 5]

**if/elif/else**

In [62]:
# empty space is not same as empty string
if ' ':
    print('If')

If

In [63]:
if '':
    print('This is True')

In [65]:
if '' == True:
    print('Some string')
else:
    print('empty string')

empty string

*Note: Above code is for example, should follow code like below*

```python

if '':
    print('Some string')
else:
    print('empty string')
```

In [66]:
a

3

*Note: a is already assigned above in while loop*

In [67]:
if a < 3:
    print('a is less than 3')
elif a == 3:
    print('a is equals to 3')
else:
    print('a is greater than 3')

a is equals to 3

*Note: This is way of doing switch/case in python*

**logical operators**

In [69]:
a

3

In [70]:
a < 3 and a == 3

False

In [71]:
a <= 3 and a >= 3

True

*Note: there is no && or || operator in python*

In [72]:
a < 3 or a == 3

True

*Note: while there is & and | operators, which are bitwise operators*

In [73]:
a <= 3

True

In [74]:
a >= 3

True

In [75]:
a

3

*a is greaterthan or equals to 3 AND less than 9*

In [76]:
3 <= a < 9

True

In [77]:
3 < a < 9

False

In [78]:
a > 3 and a < 9

False

**Negation operators**

In [79]:
# a is not equal to 4
a != 4

True

In [80]:
not True

False

In [81]:
not False

True

In [82]:
not (3 <= a < 9)

False

In [83]:
# not boolean
if not []:
    print("List is empty")

List is empty

**Break and Continue**

In [84]:
a = 0
while a < 9:
    print(a)
    if a == 3:
        break
    a += 1

0
1
2
3

*always breaks nearest parent loop*

In [85]:
a = 0
while a < 9:
    a += 1
    if 4 < a < 6:
        continue
    print(a)

1
2
3
4
6
7
8
9

*continue the loop but skip the remaining lines, above print function is skipped when a is 5*

**Conditional assignment** *(Reference only)*

*value_of is assigned __aa__ if __aa__ is less than __3__, otherwise it is assigned __False__*

In [86]:
aa = 4

In [89]:
value_of = aa * 3 if aa > 3 else 3

In [90]:
value_of

12

In [91]:
value_of = aa * 3 if aa < 4 else 3

In [92]:
value_of

3