# Session 1
---

[Reference](http://nbviewer.jupyter.org/github/lfapython/pybasics/blob/master/References/1.Datatypes.ipynb)

## Problems
---

### Calculate mean of these numbers:
    5, 16, 18, 32, 12, 3, 8, 17, 14, 13

In [1]:
5 + 16 + 18 + 32 + 12 + 3 + 8 + 17 + 14 + 13

138

In [2]:
138/10

13.8

### Which of the above numbers are factors of 738

In [3]:
738%18

0

In [4]:
738%12

6

### Find percentage of 738 given by above numbers ( use decimal numbers as well )

In [5]:
.5 * 738

369.0

In [6]:
16 / 100 * 738

118.08

In [7]:
.16 * 738

118.08

In [8]:
.17 * 738

125.46000000000001

In [9]:
17/100 * 738

125.46000000000001

- Parenthesis
- Exponential
- Multiplication and Division
- Addition and Substraction

    - Left to Right

In [10]:
17 * 738/100

125.46

In [12]:
17*738

12546

In [13]:
12546/100

125.46

## Smallest divisor

write a program to find smallest divisor of a given number.

In [14]:
number = 18

In [15]:
number % 2

0

In [16]:
number % 3

0

In [17]:
number % 4

2

**%** is remainder operator, above number **18** is perfectly divisible by **2** and **3** while not by **4**

In [18]:
num = input("Enter a number")

Enter a number12

*Much like __print__, __input__ is also a function, but it does exactly opposite of __print__. It get's some data from us*

*What we enter inside the box, is stored in variable __num__*

In [19]:
num

'12'

*The stored data is always string*

What happens if we tried to divide num by 2 ?

In [20]:
num / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [21]:
# repitition operator
num * 2

'1212'

Here is what happens:

1. __/__ is a division operator, ie we are trying to divide num by __2__
2. It gave us __TypeError__, it means we are trying to do something _stupid_.
    - Like in this case trying to divide a string, remember __'25'__ above in quotes.

Trying to do **num / 2** is same as **'25' / 2** like below,

In [22]:
'25' / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

So what to do ?

1. First we need to convert that string to a number
2. Then divide the number by 2

In [23]:
int('25')

25

In [24]:
int('25') / 2

12.5

*__int__ converts a string to a integer*

In [26]:
float('25')

25.0

*or in this case, __float__ converts a string to a float*

**But...**

In [27]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

*You cannot convert a "alphabets" to a number this way,*

*Every thing inside __"__ or __'__ is a string.*

*Let's get to our problem now*

we have a number stored in __num__

In [28]:
num

'12'

In [29]:
num = int(num)

In [30]:
num

12

*We convert given string of number into a integer now, and stored that in same name ie __num__*

*We can reuse a name/variable, *

Let's finish our problem

In [31]:
num % 2

0

In [32]:
num % 3

0

In [33]:
num % 4

0

In [34]:
num % 5

2

In [35]:
number = 25

In [36]:
number % 2

1

In [37]:
number % 3

1

In [38]:
number % 4

1

In [39]:
number % 5

0

*For __25__ our smallest divisor is __5__*

## String

In [40]:
name = 'kathmandu'

In [41]:
name[0]

'k'

    0-based indexing

In [42]:
name[4]

'm'

In [43]:
name = 'kathmandu city'

In [44]:
name[9]

' '

In [45]:
'' == ' '

False

__''__ is empty string

In [46]:
name[14]

IndexError: string index out of range

In [47]:
name.index('u')

8

In [48]:
name.index('a')

1

In [49]:
name.upper()

'KATHMANDU CITY'

In [50]:
name.capitalize()

'Kathmandu city'

In [51]:
name

'kathmandu city'

## Solve 

If the Roman alpabet has 26 letters, ordered as an alphabet **ABCDEFGHIJKLMNOPQSTUVWXYZ**, then an arbitrary word can be translated by rotating every letter by **13=26/2** places. Thus, **A** becomes **N**, **B** becomes **O** etc. Finally, letter **Z** is translated to **M**.

In [52]:
alphabets = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
given = input("Enter a alphabet: ")
given = given.upper()
current = alphabets.index(given)
result = current + 13
alphabets[result]

Enter a alphabet: m

'Z'

*Review line by line*

```python
1. alphabets = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
2. given = input("Enter a alphabet: ")
3. given = given.upper()
4. current = alphabets.index(given)
5. result = current + 13
6. alphabets[result]
```

1. we are storing all uppercase characters in a string named __alphabets__
2. we are getting any letter from user
3. if user enters lowercase letter we convert it to uppercase
4. we find assigned number of that letter
    - in every string a number is assigned to characters in an incremental order
    - i.e _A_ is assigned _0_, _B_ _1_ ... _Z_ = _25_
    - those numbers are called index
5. we added _13_ to that _index_ as required.
6. we access the letter in the calculated index _result_
    - i.e in case of _b_ it is _1 + 13_ = _14_
    - _alphabets[14]_ means give us the letter/character whose index is _14_

*It gave use result for B, C, D and so on but what will it give if we passed Z ?*

In [53]:
alphabets = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
given = input("Enter a alphabet: ")
given = given.upper()
current = alphabets.index(given)
result = current + 13
alphabets[result]

Enter a alphabet: p

IndexError: string index out of range

*So what happened here, in case of __Z__*

4. index of _Z_ is _25_
5. we added _25 + 13_ = _38_
6. we tried to access _alphabets[38]_
    - but _alphabets_ has index only from _0_ to _25_

*This means we need "0" if result is "26" "1" for "27"*

In [54]:
alphabets = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
given = input("Enter a alphabet: ")
given = given.upper()
current = alphabets.index(given)
result = (current + 13) - (current // 13) * 26
alphabets[result]

Enter a alphabet: p

'C'

*What did we changed*

1. we substract _26_ from _result_ if _current_ is more than _12_ ie _result_ will be more than _25_.
    - we divided _current_ with _13_ which will result in either _0_ or _1_ since it is integer division and maximum index is _25_.
    - if _current_ value is _13_ or more _current // 13_ will be _1_ and _1 * 26_ will be 26.
    - if _current_ value is _12_ or less _current // 13_ will be _0_ and _0 * 26_ will be _0_ and result will be _current + 13_.
    
We will output result in nice way

In [55]:
current

15

In [56]:
(current + 13) - (current // 13) * 26

2

In [57]:
15//13

1

In [58]:
13//13

1

In [59]:
12//13

0

In [60]:
alphabets = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
given = input("Enter a alphabet: ")
given = given.upper()
current = alphabets.index(given)
result = (current + 13) - (current // 13) * 26
print('You have given "' + given + '" for which result is "' + alphabets[result] + '".')

Enter a alphabet: r
You have given "R" for which result is "E".

Above we have created a longer string by adding multiple small string together with addition__( + )__ operator.

*Joining multiple string to form single string is called __concatenation__.*

In [61]:
'You have given "' + given + '" for which result is "' + alphabets[result] + '".'

'You have given "R" for which result is "E".'

In [62]:
'you have ' + 'some file '

'you have some file '

In [63]:
'you have ', 'some file '

('you have ', 'some file ')

In [64]:
print('You have given "', given, '" for which result is "', alphabets[result], '".')

You have given " R " for which result is " E ".

In [65]:
'The sum of 2 and 5 is ' + 7

TypeError: must be str, not int

In [66]:
'The sum of 2 and 5 is ' + str(7)

'The sum of 2 and 5 is 7'

## Simple Problems

- [http://codingbat.com/prob/p182144](http://codingbat.com/prob/p182144)

In [67]:
# Hi, Bye -> HiByeByeHi

# we are defining names for each words
first_word = 'Hi'
second_word = 'Bye'

final_word = first_word + second_word * 2 + first_word
print(final_word)

HiByeByeHi

_when **\*** is used with string, it repeates the given string __times__ the given number._

In [68]:
print("Result is '{}'".format(final_word))

Result is 'HiByeByeHi'

*See. reference on [string formatting]().*

### Practice

[codeabbey.com](http://www.codeabbey.com/)

[projecteuler.net](https://projecteuler.net/)

[practicepython.org](http://www.practicepython.org/)